.upperSection {
    padding: 20px;
    border-bottom: 1px solid #333;
    margin-left: 220px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.dropdownContainer {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dropdownMenu button {
    background: none;
    border: none;
    color: #fff;
    padding: 8px 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdownMenu button:hover {
    background-color: #ffa500;
    color: #000;
    border-radius: 4px;
}

.customRange {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.customRange input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 5px;
}

.customRange p {
    color: #ccc;
    font-size: 0.85rem;
}

.customRange button {
    margin-top: 5px;
    background-color: #ffa500;
    border: none;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
    transition: background 0.2s;
}

.customRange button:hover {
    background-color: #e69500;
}


.calendarButton {
    display: flex;
    align-items: center;
    background: #0a0a0b;
    color: #969696;
    border: 1px solid #969696;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.calendarButton:hover {
    background: #333;
    color: #fff;
}

.calendarIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.metrics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.metric {
    background: #131313;
    border: 1px solid #363636;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.metricContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #d5d5d5;
    margin-bottom: 8px;
}

.cardLower{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

.metricValue{
    display: flex;
    align-items: flex-end;
    gap: 4px;
    margin-bottom: 12px;
}

.value {
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;

}

.metricSmall{
    font-size: 12px;
    margin-bottom: 2px;
}

.trendLine {

    width: fit-content;
    height: 50px;
}

.metric:hover {
    background: #222;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
